.background {
  font-family: text1;
  background-image:
    linear-gradient(rgb(218, 126, 5), rgba(243, 131, 25, 0.872))

}
.neonText {
  color: rgb(65, 46, 3);
  text-shadow:
    0 0 7px rgb(228, 227, 217),
    0 0 10px rgb(220, 220, 182),
    0 0 21px rgb(194, 218, 43),
    0 0 42px #d9a153,
    0 0 82px #d9a153,
    0 0 92px #d9a153,
    0 0 102px #c17a15,
    0 0 151px #c17a15;
}
mat-card {
  background: #fff;
  transform: perspective(1px) translateZ(0);
  color: black;
  transition: 0.4s;
    font-family: text2;
}
h4{
    font-family: text1;
}
mat-card::before {
  background: rgb(255, 90, 20);
  clip-path: inset(0 100% 0 0);
  opacity: 1;
  transition: 0.4s;
}

mat-card:hover::before {
  clip-path: inset(0 0 0 0);
}

mat-card:hover {
  color: white;
  box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
}
