<app-header></app-header>
<div class="container" style="padding: 1em;">
  <section>
    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <mat-card style="width: 345px; height:450px;
" class="background">
            <h4 class="flex-container"> Prazer, João Sencioles</h4>
          </mat-card>
        </div>
      </div>
      <div class="col-md-6">
        <mat-card style="width:100%; height: 50%" class="onlyBackground">
          <div class="flex-container">
            <h4> TESTE</h4>
          </div>
          <br>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quaerat nemo rerum, deserunt labore
            cupiditate tempore maxime impedit earum aliquam nostrum. Natus, ex fuga? Esse officiis aliquid ratione sit
            expedita!
          </div>
        </mat-card>
        <br>
        <mat-card style="width:100%; height: 50%" class="onlyBackground">
          <div class="flex-container">
            <h4> TESTE</h4>
          </div>
          <br>
          <div class="yellowText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quaerat nemo rerum, deserunt labore
            cupiditate tempore maxime impedit earum aliquam nostrum. Natus, ex fuga? Esse officiis aliquid ratione sit
            expedita!
          </div>
        </mat-card>
      </div>
    </div>
  </section>

  <div>
  </div>
  <section>

  </section>

</div>
<app-footer></app-footer>
