
.yellowText{
  font-family: text;
}
mat-card{
    font-family: text;
}
h4{
      font-family: text1;
}
.background {
    font-family: text;
    background:
        linear-gradient(rgba(121, 183, 227, 0.592), rgba(0, 0, 0, .3)),
        url(../../../assets/images/Myprofile.png) no-repeat;

}
.onlyBackground{
    font-family: text;
      background:
        linear-gradient(rgba(121, 183, 227, 0.592), rgba(0, 0, 0, .3));}
