<app-header></app-header>
<div class="container" style="padding: 1em;">
  <section>
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <p-card class="background">
            <h3 style="text-align: center;"> Prazer, João Sencioles</h3>
            <h4 style="text-align: center;"> FrontEnd Developer Sr</h4>
            <div class="flex-container">
            <p-image src="../../../assets/images/Myprofile.png" alt="Image" width="250"  [preview]="true">

            </p-image>
          </div>
          </p-card>
                <br><br>

        </div>
      </div>
      <div class="col-md-8">
        <p-card  class="onlyBackground">
          <div class="flex-container">
            <h4> COMPANYS</h4>
          </div>
          <br>
          <div>
            <mat-card class="blite">
              <div class="row">
                <div class="col-md-2">
                  <img src="../../../assets/images/blite.png" style="border-radius: 50px; height: 100px; width: 100px;" alt="Image">

                </div>
                <div class="col-md-2">
                  <p-divider layout="vertical" [styleClass]="'prime-divider'">
                    <b>BLITE TECNOLOGIA</b>
                  </p-divider>
                </div>
                <div class="col-md-8">
                <p style="font-size: 74.5%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam necessitatibus neque quis pariatur quibusdam quidem sapiente ea corporis, impedit similique molestias doloremque incidunt nobis aspernatur maxime. Voluptatibus, ullam doloribus.</p>
                </div>
              </div>
              <br>
                            <div class="row">
                            <div class="col-md-12">
          <mat-card>
              <div class="row">
                <div class="col-md-2">
                <img src="../../../assets/images/localiza.png" style="border-radius: 50px; height: 75px; width: 75px;" alt="Image">
                </div>
                <div class="col-md-2">
                  <p-divider layout="vertical">
                    <b>LOCALIZA</b>
                  </p-divider>
                </div>
                <div class="col-md-8">
                                <p style="font-size: 74.5%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam necessitatibus
                                  neque quis pariatur quibusdam quidem sapiente ea corporis, impedit similique molestias doloremque incidunt nobis
                                  aspernatur maxime. Voluptatibus, ullam doloribus.</p>

                </div>
              </div>
          </mat-card>
          <BR>
            <mat-card>
              <div class="row">
                <div class="col-md-2">
                                <img src="../../../assets/images/unidas.png" style="border-radius: 50px; height: 75px; width: 75px;" alt="Image">

                </div>
                <div class="col-md-2">
                  <p-divider layout="vertical">
                    <b>UNIDAS</b>
                  </p-divider>
                </div>
                <div class="col-md-8">
                                <p style="font-size: 74.5%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam necessitatibus
                                  neque quis pariatur quibusdam quidem sapiente ea corporis, impedit similique molestias doloremque incidunt nobis
                                  aspernatur maxime. Voluptatibus, ullam doloribus.</p>

                </div>
              </div>
            </mat-card>
            </div>
            </div>
            </mat-card>
            <BR>
              <mat-card>
                <div class="row">
                  <div class="col-md-2">
                                                  <img src="../../../assets/images/page.png" style="border-radius: 50px; height: 100px; width: 100px;" alt="Image">

                  </div>
                  <div class="col-md-2">
                    <p-divider layout="vertical">
                      <b>GALERIA PAGÉ</b>
                    </p-divider>
                  </div>
                  <div class="col-md-8">
                                  <p style="font-size: 74.5%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam necessitatibus
                                    neque quis pariatur quibusdam quidem sapiente ea corporis, impedit similique molestias doloremque incidunt nobis
                                    aspernatur maxime. Voluptatibus, ullam doloribus.</p>

                  </div>
                </div>
              </mat-card>
              <BR>
              <br>
                <mat-card class="fact">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../../../assets/images/fact.png" style="border-radius: 50px; height: 100px; width: 100px;" alt="Image">

                    </div>
                    <div class="col-md-2">
                      <p-divider layout="vertical" [styleClass]="'prime-divider'">
                        <b>FACT TECNOLOGIA</b>
                      </p-divider>
                    </div>
                    <div class="col-md-8">
                                    <p style="font-size: 74.5%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam necessitatibus
                                      neque quis pariatur quibusdam quidem sapiente ea corporis, impedit similique molestias doloremque incidunt nobis
                                      aspernatur maxime. Voluptatibus, ullam doloribus.</p>

                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12">
  <mat-card>
    <div class="row">
      <div class="col-md-2">
        <img src="../../../assets/images/VOPAK.png" style="border-radius: 50px; height: 100px; width: 100px;" alt="Image">

      </div>
      <div class="col-md-2">
        <p-divider layout="vertical">
          <b>VOPAK</b>
        </p-divider>
      </div>
      <div class="col-md-8">
                      <p style="font-size: 74.5%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam necessitatibus
                        neque quis pariatur quibusdam quidem sapiente ea corporis, impedit similique molestias doloremque incidunt nobis
                        aspernatur maxime. Voluptatibus, ullam doloribus.</p>

      </div>
    </div>
  </mat-card>
  <br>
              <mat-card>
                <div class="row">
                  <div class="col-md-2">
                    <img src="../../../assets/images/Vetta.png" style="border-radius: 50px; height: 100px; width: 100px;" alt="Image">

                  </div>
                  <div class="col-md-2">
                    <p-divider layout="vertical">
                      <b>VETTA QUIMICA</b>
                    </p-divider>
                  </div>
                  <div class="col-md-8">
                                  <p style="font-size: 74.5%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam necessitatibus
                                    neque quis pariatur quibusdam quidem sapiente ea corporis, impedit similique molestias doloremque incidunt nobis
                                    aspernatur maxime. Voluptatibus, ullam doloribus.</p>

                  </div>
                </div>
              </mat-card>
              <br>


                <mat-card>
                  <div class="row">
                    <div class="col-md-2">
                                      <img src="../../../assets/images/ocq.png" style="border-radius: 50px; height: 100px; width: 100px;" alt="Image">

                    </div>
                    <div class="col-md-2">
                      <p-divider layout="vertical">
                        <b>OSWALDO CRUZ QUIMICA</b>
                      </p-divider>
                    </div>
                    <div class="col-md-8">
                                  <p style="font-size: 74.5%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam necessitatibus
                                    neque quis pariatur quibusdam quidem sapiente ea corporis, impedit similique molestias doloremque incidunt nobis
                                    aspernatur maxime. Voluptatibus, ullam doloribus.</p>

                    </div>
                  </div>
                </mat-card>
</div>
</div>
</mat-card>
                  <br>
          </div>
        </p-card>
        </div>
        </div>

  </section>

  <div>
  </div>
  <section>

  </section>

</div>
<app-footer></app-footer>
