<div style="padding: 0.5em">
  <img class="flex-container" src="../../../assets/images/naruto/vencedor.png">
  <mat-card style="width: 100%; height:100%; background-color: rgba(175, 171, 166, 0.2);">
    <mat-card-header>
      <mat-card-title class="flex-container" style="font-family: text1 ;" class="neonText"> {{data.name}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
      <img src="../../../assets/images/naruto/{{data.photoName}}.png"
        style=" border-radius: 10px ; width: 100%; height: 223px; z-index:50; position: relative;" />
    </mat-card-subtitle>
  </mat-card>
</div>
